<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content_css">
  <link rel="stylesheet" href="/css/pages/request/request.css">
</th:block>



<th:block layout:fragment="content">





  <div class="complete-wrap">
    <div class="complete-box">
      <h2>접수가 완료되었습니다</h2>
      <p>담당자 확인 후 기사 배정이 완료되면 연락을 드립니다.</p>

      <div class="form-buttons complete-buttons">
        <a th:href="@{/pages/user/main}" class="btn btn-outline">홈으로</a>
      </div>
    </div>
  </div>

</th:block>


<th:block layout:fragment="content_js"></th:block>

</html>