<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content_css">
<!-- 이 곳에 link태그로 css파일을 연결하는 코드 작성 -->
</th:block>

<!-- 아래 bloack에 layout으로 보낼 코드 작성 -->
<th:block layout:fragment="content">
  <h2>user 메인</h2>
  <p> <a href="/request/write">수리신청</a> </p>
</th:block>

<th:block layout:fragment="content_js">
<!-- 이 곳에 script태그로 js파일을 연결하는 코드 작성 -->
</th:block>

</html>