<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.Schedule.result.mapper.ResultMapper">
  <resultMap id="asResult" type="com.green.Schedule.result.dto.ResultDTO">
    <id     column="RESULT_NO" property="resultNo"/>
    <result column="SCHEDULE_NO" property="scheduleNo"/>
    <result column="PROCESS_DATE" property="processDate"/>
    <result column="PROCESS_CONTENT" property="processContent"/>
    <result column="RESULT_STATUS" property="resultStatus"/>
    <result column="IMAGE_PATH" property="imagePath"/>
    <result column="CREATED_AT" property="createdAt"/>
  </resultMap>

  <!--  #대시보드 - 오늘 일정-->
  <select id="selectToday" resultMap="asResult">
    SELECT s.SCHEDULE_NO AS scheduleNo
    , s.START_TIME AS startTime
    , s.END_TIME AS endTime
    , r.CUSTOMER_NAME AS customerName
    , r.SYMPTOM AS symptom
    FROM AS_SCHEDULE s
<!--    고객정보 가져오기-->
    JOIN AS_REQUEST r ON s.REQUEST_NO = r.REQUEST_NO
<!--    로그인한 기사 찾기-->
    JOIN ENGINEER e ON s.ENGINEER_NO = e.ENGINEER_NO
    WHERE e.MEM_NO = #{memNo}
    AND DATE(s.START_TIME) = CURDATE()
    ORDER BY s.START_TIME;
  </select>

  <!--  #대시보드 - 달력-->
  <select id="selectCalender" resultMap="asResult">
    SELECT DISTINCT DATE(s.START_TIME) AS scheduleDate
    FROM AS_SCHEDULE s
    JOIN ENGINEER e ON s.ENGINEER_NO = e.ENGINEER_NO
    WHERE e.MEM_NO = #{memNo}
    AND YEAR(s.START_TIME) = #{year}
    AND MONTH(s.START_TIME) = #{month};
  </select>

  <!--기사 AS결과보고-->
  <insert id="insertResult">
    INSERT INTO AS_RESULT (
    SCHEDULE_NO
    , PROCESS_DATE
    , PROCESS_CONTENT
    , RESULT_STATUS
    , IMAGE_PATH
    )
    VALUES (
    #{scheduleNo}
    , #{processDate}
    , #{processContent}
    , #{resultStatus}
    , #{imagePath});
  </insert>

</mapper>































