<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.Schedule.schedule.mapper.ScheduleMapper">
  <resultMap id="schedule" type="com.green.Schedule.schedule.dto.ScheduleDTO">
    <id column="SCHEDULE_NO"       property="scheduleNo"/>
    <result column="REQUEST_NO"    property="requestNo"/>
    <result column="ENGINEER_NO"   property="engineerNo"/>
    <result column="FIX_DATE"      property="fixDate"/>
    <result column="START_TIME"    property="startTime"/>
    <result column="END_TIME"      property="endTime"/>
    <result column="STATUS"        property="status"/>
    <association property="engineerDTO" resultMap="scheduleEngineer"/>
    <association property="requestDTO" resultMap="scheduleRequest"/>
  </resultMap>

  <resultMap id="scheduleEngineer" type="com.green.Schedule.engineer.DTO.EngineerDTO">
    <id column="ENGINEER_NO"       property="engineerNo"/>
    <result column="ENGINEER_NAME" property="engineerName"/>
  </resultMap>

  <resultMap id="scheduleRequest" type="com.green.Schedule.request.dto.RequestDTO">
    <id column="REQUEST_NO"     property="requestNo"/>
    <result column="CUSTOMER_NAME" property="customerName"/>
    <result column="PRODUCT_TYPE" property="productType"/>
    <result column="SYMPTOM"      property="symptom"/>
  </resultMap>

  <resultMap id="engineer" type="com.green.Schedule.engineer.DTO.EngineerDTO">
    <id column="ENGINEER_NO"              property="engineerNo"/>
    <result column="MEM_NO"               property="memNo"/>
    <result column="ENGINEER_NAME"        property="engineerName"/>
    <result column="ENGINEER_TEL"         property="engineerTel"/>
    <result column="SPECIALTY"            property="specialty"/>
    <result column="WORK_START_TIME"      property="workStartTime"/>
    <result column="WORK_END_TIME"        property="workEndTime"/>
    <result column="STATUS"               property="status"/>
    <result column="MEM_ID"               property="memId"/>
  </resultMap>

  <resultMap id="request" type="com.green.Schedule.request.dto.RequestDTO">
    <id column="REQUEST_NO"       property="requestNo"/>
    <result column="CUSTOMER_NAME"   property="customerName"/>
    <result column="CUSTOMER_TEL"   property="customerTel"/>
    <result column="CUSTOMER_ADDR"   property="customerAddr"/>
    <result column="PRODUCT_TYPE"   property="productType"/>
    <result column="SYMPTOM"   property="symptom"/>
    <result column="REQUEST_DATE"   property="requestDate"/>
    <result column="WISH_DATE"   property="wishDate"/>
    <result column="STATUS"   property="status"/>
  </resultMap>

  <select id="selectRequestList" resultMap="request">
    SELECT REQUEST_NO
    , CUSTOMER_NAME
    , CUSTOMER_TEL
    , CUSTOMER_ADDR
    , PRODUCT_TYPE
    , SYMPTOM
    , REQUEST_DATE
    , WISH_DATE
    , STATUS
    FROM REQUEST
  </select>

  <select id="selectReceiveRequestList" resultMap="request">
    SELECT REQUEST_NO
    , CUSTOMER_NAME
    , CUSTOMER_TEL
    , CUSTOMER_ADDR
    , PRODUCT_TYPE
    , SYMPTOM
    , REQUEST_DATE
    , WISH_DATE
    , STATUS
    FROM REQUEST
    WHERE STATUS = 'RECEIVED'
  </select>

  <select id="selectScheduleList" resultMap="schedule">
    SELECT SCHEDULE_NO
    , R.REQUEST_NO
    , E.ENGINEER_NO
    , FIX_DATE
    , START_TIME
    , END_TIME
    , ENGINEER_NAME
    , R.CUSTOMER_NAME
    , PRODUCT_TYPE
    , SYMPTOM
    , S.STATUS AS STATUS
    FROM AS_SCHEDULE S
    LEFT JOIN ENGINEER E
    ON S.ENGINEER_NO = E.ENGINEER_NO
    LEFT JOIN REQUEST R
    ON S.REQUEST_NO = R.REQUEST_NO
  </select>

  <select id="selectEngineerList" resultMap="engineer">
    SELECT ENGINEER_NO
    , ENGINEER_NAME
    FROM ENGINEER
    WHERE STATUS = 'WORK'
  </select>

  <insert id="insertSchedule">
    INSERT INTO AS_SCHEDULE (
    REQUEST_NO
    , ENGINEER_NO
    , FIX_DATE
    , START_TIME
    , END_TIME
    )
    VALUES (
    #{requestNo}
    , #{engineerNo}
    , #{fixDate}
    , #{startTime}
    , #{endTime}
    )
  </insert>

  <update id="updateReceiveRequest">
    UPDATE REQUEST
    SET
    STATUS = 'ASSIGNED'
    WHERE REQUEST_NO = #{requestNo}
  </update>

</mapper>